@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    /* background-color: #3F4E4F; */
    background: rgb(150,150,150);
    background: radial-gradient(circle, rgba(150,150,150,1) 16%, rgba(30,30,30,1) 74%);
    font-family: 'Montserrat', sans-serif;   
}

h1, h2, h3, h4, h5, h6{
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px black;
    text-decoration: underline;
}

.container-fluid  a:hover{
    color: #99A98F !important;
}

.dropdown-menu {
    background-color: #1E1E1E;
}

.dropdown-menu a:hover {
    background-color: #1E1E1E;
}

.dropdown-item {
    color: white;
}

.btn {
    color: white;
    background-color: #3F4E4F;
}

.btn:hover {
    background-color: white;
    background-color: #1E1E1E;
}


p {
    color: white;
}


.sonic {
    color: black;
    text-shadow: 1px 1px white;
    font-weight: bold;
}

footer {
    margin-top: 100px;
    border-top: 3px solid black;
    background-color: black; 
    height: 180px;
}


.info {
    margin-top: 20px;
    text-align: center;
    color: white !important;
}


.icons {
    text-align: center;
}

.icons a ion-icon:hover {
    color: #99A98F !important;
}

label {
    color: white;
}

input {
    height: 40px;
}

.formButton {
    margin-top: 30px;
    height: 50px;
    width: 300px;
    background-color: #1E1E1E;
    color: white;
}

.formButton:hover {
    background-color: #323232;
}

.card-body1 {
    margin-left: 200px;
    width: 300px;
    height: 150px;
    padding: 10px;
}
.card-body2 {
    width: 300px;
    height: 150px;
    padding: 10px;
}

.btn2 {
    background-color:  #1E1E1E;
    color: white;
}

.btn2:hover {
    background-color: #323232;
}


.progress-bar1 {
    background-color: #e54c21ff;
}

.progress-bar2 {
    background-color: #264de4;
}

.progress-bar3 {
    background-color: #8712fb;
}

.copyright {
    margin-left: 15px;
}